
#nav-bar {
	background: #003a4f;
	width: 100%;
	height: 80px;
	position: fixed;
	top:0px;
}

header a:hover {
	text-decoration: underline;
}


.nav-bar-item {
	display: inline-block;
	font-family: Proxima Nova Light, Helvetica;
	top: 0;
	margin-top: 20px;
	margin-bottom: 20px;
}

.nav-bar-item a {
	color: #e9d5ad;
	text-decoration: none;
}

#left-menu {
	width: 18%;
}

.menu-button img {
	width: 25px;
	height: 25px;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
}


* {
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: none;
}


#drawer {
	position: fixed;
	top: 80px;
	left:-300px;
	height: 90%;
	width: 260px;
	background: #ffffff;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 20px;
	font-family: Proxima Nova Bold, Helvetica;
	font-size: 14px;
	-webkit-overflow-scrolling: touch;
}


#drawer.open {
	left: 0px;
}


/* Menu item styles */

#drawer ul {
list-style-type:none;
}

#drawer ul a {
	display:block;
	padding:5px;
	color:#003a4f;
	text-decoration:none;
}

#drawer ul a:hover {
	background-color: #b7b7b7;
}

.drawer-list-item {
	margin-left: 0;
}

.drawer-list-icon{
	width: 25px;
	height: 25px;
	padding: 5px;
	vertical-align: middle;
}


.drawer-list-label{
	padding-left: 5px;
	width: 150px;
	word-wrap: keep-all;
	display: inline-block;
	vertical-align: middle;
	line-height: 20px;
}

.drawer-list-label ul{
	text-indent: 10px;
	line-height: 18px;
}


/*** Drawer Menu Icon ***/

#drawer-toggle-label {
	display: block;
	position: absolute;
	height: 25px;
	width: 25px;
	top: 18px;
    margin-left: 10px;
    margin-top: 10px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}

#drawer-toggle-label span {
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	background: #e9d5ad;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}



#drawer-toggle-label span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: none;
  -moz-transform-origin: none;
  -o-transform-origin: none;
  transform-origin: none;
}

#drawer-toggle-label span:nth-child(2) {
  top: 8px;
  -webkit-transform-origin: none;
  -moz-transform-origin: none;
  -o-transform-origin: none;
  transform-origin: none;
}

#drawer-toggle-label span:nth-child(3) {
  top: 16px;
  -webkit-transform-origin: none;
  -moz-transform-origin: none;
  -o-transform-origin: none;
  transform-origin: none;
}

#drawer-toggle-label.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 8px;
}

#drawer-toggle-label.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#drawer-toggle-label.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 8px;
}


/*** Header ***/


#who-we-are, #inquire, #brand {
	width: 32%;
	text-align: center;
	vertical-align: center;
}

#who-we-are, #inquire {
	text-transform: uppercase;
}

#brand img{
	width: 25px;
	height: 32px;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
}

/*** Body / Content ***/

body {
	background-image: url("Resources/Hero Photo.jpg");
	background-size: cover;
	font-family: Gilroy Light, Helvetica;
	margin-left: 0px;
	min-width:560px;
	width: auto !important;
}

#page-content {
	margin-left: 0px;
	margin-top: 50px;
	width: 100%;
	height: calc(100% - 50px);
	overflow-x:hidden;
	-webkit-overflow-scrolling: touch;
}

#content{
	margin-top: 50px;
	margin-bottom: 50px;
}

.content-box {
	width: 49.5%;
	display: inline-table;

}
.inner-box {
	background: rgba(0, 58, 79, 0.75);
	width: 350px;
	height: 300px;
	margin-top: 75px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 25px;
}

.inner-box-title {
	color: #ffffff;
	font-family: Gilroy Bold, Helvetica;
	font-size:  30px;
	text-align: center;
	text-transform: uppercase;
	padding-top: 50px;
	padding-bottom: 50px;
}

.inner-box-button {
	display: block;
	/*display: table-cell;*/
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	word-wrap:break-word;
	justify-content: center;
	text-decoration: none;
	border: 5px solid #ffffff;
	width: 175px;
	height: 45px;
	border-radius: 24px;
	padding: 10px 10px;

	margin: auto;
	vertical-align: middle;
	line-height: 22px;
}

.inner-box-button:hover{
	color: #003a4f;
	background-color:  #ffffff;
}

#divider{
    position:absolute;
    left:50%;
    top:25%;
    height: 325px;
    border: 5px solid white;
    border-radius: 25px;
}

/** Animations **/

/* Chrome, Safari */

@-webkit-keyframes fadeInLeft {
	from {
		opacity: 0;
		-webkit-transform: translateX(-300px);
	}
	to {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}


@-webkit-keyframes fadeInRight {
	from {
		opacity: 0;
		-webkit-transform: translateX(300px);
	}
	to {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}

@-webkit-keyframes fadeInBottom {
	from {
		opacity: 0;
		-webkit-transform: translateY(100px);
	}
	to {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

/* Mozilla Firefox */
@-moz-keyframes fadeInLeft {
	from {
		opacity: 0;
		-moz-transform: translateX(-300px);
	}
	to {
		opacity: 1;
		-moz-transform: translateX(0);
	}
}

@-moz-keyframes fadeInRight {
	from {
		opacity: 0;
		-moz-transform: translateX(300px);
	}
	to {
		opacity: 1;
		-moz-transform: translateX(0);
	}
}

@-moz-keyframes fadeInBottom {
	from {
		opacity: 0;
		-moz-transform: translateY(100px);
	}
	to {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

/* Opera */
@-o-keyframes fadeInLeft {
	from {
		opacity: 0;
		-o-transform: translateX(-300px);
	}
	to {
		opacity: 1;
		-o-transform: translateX(0);
	}
}

@-o-keyframes fadeInRight {
	from {
		opacity: 0;
		-o-transform: translateX(300px);
	}
	to {
		opacity: 1;
		-o-transform: translateX(0);
	}
}

@-o-keyframes fadeInBottom {
	from {
		opacity: 0;
		-o-transform: translateY(100px);
	}
	to {
		opacity: 1;
		-o-transform: translateY(0);
	}
}


/* Default */

@keyframes fadeInLeft {
	from {
		opacity: 0;
		transform: translateX(-300px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fadeInRight {
	from {
		opacity: 0;
		transform: translateX(300px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fadeInBottom {
	from {
		opacity: 0;
		transform: translateY(100px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}



.fadeInLeft {
	-webkit-animation-name: fadeInLeft;
	animation-name: fadeInLeft;

	-webkit-animation: fadeInLeft 1.5s;
	-moz-animation: fadeInLeft 1.5s;
	-o-animation: fadeInLeft 1.5s;
	animation: fadeInLeft 1.5s;
}

.fadeInRight {
	-webkit-animation-name: fadeInRight;
	animation-name: fadeInRight;

	-webkit-animation: fadeInRight 1.5s;
	-moz-animation: fadeInRight 1.5s;
	-o-animation: fadeInRight 1.5s;
	animation: fadeInRight 1.5s;
}

.fadeInBottom {
	-webkit-animation-name: fadeInBottom;
	animation-name: fadeInBottom;

	-webkit-animation: fadeInBottom 1.5s;
	-moz-animation: fadeInBottom 1.5s;
	-o-animation: fadeInBottom 1.5s;
	animation: fadeInBottom 1.5s;
}



/* Responsive MQ */

@media only screen and (max-width: 720px)  {
	body {
		min-width:640px;
	}
	#content{
		min-width:480px;
	}
	.content-box {
		display: block;
		margin: auto;
	}
	#divider {
		display: none;
	}
}

@media only screen and (max-width:479px) {

  body {
  	background-repeat: no-repeat;
		min-width:300px;
  }

	#drawer.open {
		width: calc(100% - 50px);
		padding: 20px;
	}

	.nav-bar-item {
		font-size: 12px;
	}
	.content-box {
		margin: 5px;
	}
	.inner-box {
		min-width: 350px;
		min-height: 300px;
		margin-top: 50px;
		margin-left: auto;
		margin-right: auto;
		border-radius: 25px;
	}

	#drawer {
		width: 240px;
	}

}




@font-face {
    font-family: "Proxima Nova Light";
    src: url("Resources/Fonts/Proxima Nova/ProximaNova-Light_0.otf");
}

@font-face {
    font-family: "Proxima Nova Bold";
    src: url("Resources/Fonts/Proxima Nova/ProximaNova-Bold_0.otf");
}

@font-face {
    font-family: "Gilroy Bold";
    src: url("Resources/Fonts/Gilroy/Gilroy-ExtraBold.otf");
}

@font-face {
    font-family: "Gilroy Light";
    src: url("Resources/Fonts/Gilroy/Gilroy-Light.otf");
}
